*{
    margin: 0;
    padding: 0;
    font-family: "Encode Sans", sans-serif;
}

body{
    background: linear-gradient(to bottom, #fff, #F1F6FF);
}

.bgimg{
    width: 100%;
    position: absolute;
    transform: translateY(250px);
    opacity: 0.2;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin: 30px 10px;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

nav{
    flex: 1;
    text-align: right;
}
 nav ul li{
     list-style: none;
     display: inline-block;
     margin-right: 30px;
 }

 nav ul li a{
     text-decoration: none;
     color: #000;
     font-size: 14px;
     font-weight: 500;
     transition: 0.2s;
 }

 nav ul li a:hover{
    color: #1690F8;
    transition: 0.2s;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
    color: #232A34;
    font-weight: 800;
}

.col-1 h3{
    font-size: 30px;
    color: #7E8DA4;
    font-weight: 600;
    margin: 20px 0 10px;
}

button{
    width: 140px;
    font-weight: 600;
    border: 0;
    margin-top: 40px;
    padding: 15px 12px;
    outline: none;
    color: #fff;
    background-color: #1690F8;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(22, 144, 248, 0.5);
    transition: 0.3s;
}

button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .vector{
    transform: translateX(150px);
    width: 70%;
}

@media only screen and (max-width:700px) {
    nav ul{
        width: 100%;
        background-color: #1690F8;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    nav ul li a:hover{
        color: #fff;
        font-weight: 700;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .col-2 .vector{
        width: 60%;
        transform: translateX(50px);
    }
}